a {
    font-size: 1rem;
    padding-right: 1rem;
    margin: 0rem;
}


a.current {
    text-decoration: underline;
}

current {
    color: tomato
}

div.links {
    position: absolute;
    right: 100px;
    margin-top: 20px;
}